<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blue-Dev API</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <meta name="theme-color" content="#01a0e9" />
  <meta
    name="description"
    content="Blue-dev website. A place to showcase my projects and contact me."
  />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <nav class="container-fluid">
    <li>
    <ui>
      <strong>Blue-Dev API</strong>
    </ui>
    </li>
  </nav>
  <main class="container">
    <div class="grid">
      <section>
        <hgroup>
          <h2>API Endpoints</h2>
          <h3>It's free</h3>
        </hgroup>
        <!-- Exp for endpoints -->
        <hgroup class="box">
          <h3>GET /api/user</h3>
          <p>This endpoint logs the user in, It requires a jwt token</p>
        </hgroup>
      </section>
    </div>
    <footer class="footer">
      <p>&copy; 2024 DeveloperJosh</p>
    </footer>
  </main>
</body>
</html>
