<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blue-Dev API</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <meta name="theme-color" content="#01a0e9" />
  <meta
    name="description"
    content="Blue-dev website. A place to showcase my projects and contact me."
  />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <nav class="container-fluid">
    <li>
    <ui>
      <strong>Blue-Dev API</strong>
    </ui>
    <!--Lets add copyright to the left side-->
    </li>
  </nav>
  <main class="container">
    <div class="grid">
      <section>
        <hgroup>
          <h2>API Endpoints</h2>
          <h3>It's free</h3>
        </hgroup>
        <!-- Exp for endpoints -->
        <hgroup class="box">
          <h3>GET /api/user</h3>
          <p>This endpoint logs the user in, It requires a jwt token</p>
          <p>Example:</p>
          <code>
            { 
             "email": "blue@Blue-Dev.xyz",
             "password": "Whatever You Want"
             }
          </code>
        </hgroup>
        <hgroup class="box">
          <h3>POST /api/user</h3>
          <p>This endpoint creates a user, It does not requires a jwt token</p>
          <p>Example:</p>
          <code>
            { 
              "username": "Blue", 
              "email": "blue@Blue-Dev.xya", 
              "password": "Whatever You Want" 
            }
          </code>
        </hgroup>
        <hgroup class="box">
          <h3>GET /api/logout</h3>
          <p>This endpoint logs the user out, It requires a jwt token</p>
          <p>Example:</p>
          <code>
            curl -X GET http://localhost:3000/api/logout
          </code>
        </hgroup>
        <hgroup class="box">
          <h3>GET /api/test</h3>
          <p>This endpoint returns a secret message, It requires a jwt token</p>
          <p>Example:</p>
          <code>
            curl -X GET http://localhost:3000/api/test
          </code>
          <script>
          </script>
        </hgroup>
      </section>
    </div>
  </main>
</body>
</html>
