<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blue's Portfolio</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <meta name="theme-color" content="#01a0e9" />
  <meta
    name="description"
    content="Blue-dev website. A place to showcase my projects and contact me."
  />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <nav class="container-fluid">
    <ul>
      <li><strong>Blue-dev</strong></li>
    </ul>
    <ul>
      <li>
        <a href="#portfolio">Projects</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
      <li>
        <a href="https://github.com/DeveloperJosh" target="_blank" role="button">GitHub</a>
      </li>
    </ul>
  </nav>
  <main class="container">
    <div class="grid">
      <section>
        <hgroup>
          <h2>Welcome to My Portfolio</h2>
          <h3>DeveloperJosh</h3>
        </hgroup>
        <p>Hi, I'm Blue, a passionate developer. I create beautiful and functional websites and applications. Check out my projects below and feel free to reach out to me!</p>
        <h3 id="portfolio">My Projects</h3>
        <p>Here are some of the projects I've worked on:</p>
        <ul>
          <li>
            <a href="https://github.com/DeveloperJosh/Simple-Chat" target="_blank">Simple-Chat</a>
          </li>
          <li>
            <a href="https://github.com/DeveloperJosh/SynTech-Site" target="_blank">SynTech</a>
          </li>
          <li>
            <a href="https://github.com/DeveloperJosh/ModMail" target="_blank">MailHook</a>
          </li>
        </ul>
        <h3 id="contact">Contact Me</h3>
        <p>If you'd like to get in touch, please email me directly at <a href="mailto:blue@blue-dev.xyz">blue@blue-dev.xyz</a>.</p>
      </section>
    </div>
    <footer class="footer">
      <p>&copy; 2024 DeveloperJosh</p>
    </footer>
  </main>
</body>
</html>
